@{
    ViewData["Title"] = "ResetPassword";
}
@model ForgetPasswordViewModel



@section Scripts{@await Html.PartialAsync("_ValidationScriptsPartial")}
<div class="row">
    <div class="col-md-4 offset-md-4">

          @if (TempData["SuccessMessage"]!=null)
        {
            <div class="alert alert-success" role="alert">
              @TempData["SuccessMessage"]
            </div>
        }

        <div class="alert alert-info">Şifre yenileme linki, e-posta adresinize gönderilecektir.</div>

        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
        </div>
        <form method="post">
            <div class="mb-3">
                <label for="Email" class="form-label" asp-for="Email"></label>
                <input  class="form-control" asp-for="Email">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>


            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>
    </div>
</div>

