
@{
    ViewData["Title"] = "ResetPassword";
}
@model ResetPasswordViewModel
<div class="row">
    <div class="col-md-6 offset-md-3">
     

        @if (TempData["SuccessMessage"] != null)
        {
                <div class="alert alert-info" role="alert">
                @TempData["SuccessMessage"]
                </div>
        }


        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">

        </div>
   

        <form  method="post">
          
            <div class="col-md-8 offset-md-4 mb-3">   <h2>Yeni Şifre Oluşturma</h2></div>

            <div class="row mb-3">
                <label for="Password" class="col-md-4 col-form-label" asp-for="Password"></label>
                <div class="col-md-8">

                    <input  asp-for="Password" class="form-control">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="PasswordConfirm" class="col-md-4 col-form-label" asp-for="PasswordConfirm"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordConfirm" class="form-control">
                    <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                </div>
            </div>


            <div class="row mb-3">

                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Şifre Yenile</button>
                </div>
            </div>



        </form>
    </div>
</div>

