
@{
    ViewData["Title"] = "UserList";
}
@model List<UserViewModel>
<h1>Üye Liste</h1>




<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Kullanıcı Adı</th>
            <th>Email</th>
        </tr>
    </thead>


    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
            </tr>
        }







    </tbody>
</table>

