@{
    ViewData["Title"] = "Claims";
}
@model List<ClaimViewModel>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Issuer</th>
            <th>Type</th>
            <th>Value</th>

        </tr>
    </thead>


    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Issuer</td>
                <td>@item.Type</td>
                <td>@item.Value</td>

            </tr>
        }







    </tbody>
</table>

