
@{
    ViewData["Title"] = "Index";
}
@model UserViewModel



<div class="row" >

    <div class="col-md-6 offset-md-3 text-center">
       
<user-picture-thumbnail class="rounded" style="width:300px"  picture-url="@Model.PictureUrl"></user-picture-thumbnail>
      

    </div>
</div>


<div class="row">




    <div class="col-md-6 offset-md-3" >
        <h1>Kullanıcı Bilgileri</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Kulllanıcı Adı</th>
                    <th>Email</th>
                    <th>Telefon No</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.UserName</td>
                    <td>@Model.Email</td>
                    <td>@Model.PhoneNumber</td>
                </tr>


            </tbody>
        </table>

    </di>


</div>


