
@{
    ViewData["Title"] = "PasswordChange";
}
@model PasswordChangeViewModel
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}






<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Şifre Yenileme </h2>

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-info" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }


        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
        </div>


        <form asp-controller="Member" asp-action="PasswordChange" method="post">

            <div class="row mb-3">
                <label for="" class="col-md-4 col-form-label" asp-for="PasswordOld"></label>
                <div class="col-md-8">

                    <input asp-for="PasswordOld" class="form-control">
                    <span class="text-danger" asp-validation-for="PasswordOld"></span>
                </div>
            </div>

    
            <div class="row mb-3">
                <label for="PasswordConfirm" class="col-md-4 col-form-label" asp-for="PasswordNew"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordNew" class="form-control">
                    <span class="text-danger" asp-validation-for="PasswordNew"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="PasswordConfirm" class="col-md-4 col-form-label" asp-for="PasswordNewConfirm"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordNewConfirm" class="form-control">
                    <span class="text-danger" asp-validation-for="PasswordNewConfirm"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Şifre değiştir</button>
                </div>
            </div>



        </form>
    </div>
</div>

